body, h1, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.header {
    padding: 20px 0; /* 上下填充 */
    text-align: center; /* 文本居中 */
    /* 添加阴影或边框可以增加页眉的视觉效果 */
}

.title {
    color: #000000; /* 标题文本颜色 */
    font-family: 'Arial', sans-serif; /* 字体 */
    font-size: 2em; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 移除默认的内边距 */
    /* 你可以添加文本阴影或其他效果来增强标题的视觉效果 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* 响应式设计，为不同屏幕大小调整标题大小 */
@media (max-width: 768px) {
    .title {
        font-size: 1.5em; /* 在小屏幕上减小标题字体大小 */
    }
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0; /* 移除内边距 */
    margin: 0 auto; /* 居中对齐 */
    max-width: 100%; /* 与头部图片宽度一致 */
}

.album {
    width: 100%; /* 计算宽度，减去间距 */
    margin-bottom: 20px;
    box-sizing: border-box; /* 包括内边距和边框在内的总宽度 */
}

.album img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.album p {
    font-size: 1.5em;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Adjust items inside the card */
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    /* Remove fixed width if set, or adjust as necessary */
    width: 45%; /* Or you can set it to 100% if you want the card to fill its parent container */
}

.english {
    font-family: 'Arial', sans-serif; /* 适用于英文的字体 */
}

.korean {
    font-family: 'Malgun Gothic', sans-serif; /* 适用于韩文的字体 */
}

/* 对于中文，你可以选择一个默认的中文字体 */
p {
    font-family: 'Microsoft YaHei', 'Arial', sans-serif; /* 默认字体，优先显示中文 */
    line-height: 1.6; /* 行距 */
    /* ... 其他样式 ... */
}