body, h1, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.header {
    position: relative; /* 相对定位，为子元素的绝对定位提供参考 */
    text-align: center; /* 为内联或内联块级元素提供居中 */
    margin-bottom: 20px; /* 和下面内容的间距 */
}

.header img {
    display: block; /* 设置图片为块级元素 */
    margin: 0 auto; /* 上下保持0，左右自动，确保图片在容器中居中 */
    max-width: 100%; /* 最大宽度为容器宽度，确保图片不会超出容器 */
    height: auto; /* 高度自动，保持图片宽高比 */
}

.title-overlay {
    position: absolute;
    bottom: 0;
    left: 50%; /* 水平居中定位 */
    transform: translateX(-50%); /* 使用transform来精确居中 */
    width: 100%; /* 渐变层的宽度为100%覆盖整个父元素 */
    height: 30%; /* 渐变层的高度，可以根据需要进行调整 */
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.7));
}

.title {
    position: absolute;
    bottom: 10px; /* 根据需要调整 */
    left: 10px; /* 根据需要调整 */
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.album {
    width: 45%;
    margin-bottom: 20px;
}

.album img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.album p {
    font-size: 1em;
}
